<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clearavenue.jbsaworkorder">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.Contact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forgotID"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.forgotID" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Success"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.Success" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StartFind"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.StartFind"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EnterWo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.EnterWo"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".FoundResult"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.FoundResult"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EnterBase"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.EnterBase"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EnterLocation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.EnterLocation"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EnterPartner"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.EnterPartner"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ListResults"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.ListResults"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



    </application>
</manifest>
